@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto|Ubuntu');

/***********************/
/** AJUSTES GENERALES **/
/***********************/

* {
    box-sizing: border-box;
    margin: 0%;
}

/*Ajustes Generales*/
html{
	width: 100%;
    height: 100%;
   
}

/*Ajustes Generales*/
body{
	background-color: black;		

    width: 100%;
    height: 100%;

    font-size: 1vw;
}

.right{
	display: flex; 
	flex-flow: row-reverse;
	align-items: center;


}

.center{
	justify-content: center;
}

/*********/
/** NAV **/
/*********/

nav{
	background-color: rgba(0,0,0,0.7);
	height: 15%;
	width: 100%;


	padding-left: 15%;
	padding-right: 15%;

	display: flex;

	z-index: 10;
}

.innerBoxM{
	height: 100%;
	width: 50%;

	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
}

.innerBoxM.left{

	flex-direction: column;
	justify-content: space-around;
}

#name{

	display: inline;
	width: fit-content;
	font-size: 3em;
	text-decoration: none;
	color: #4b71c1;
	font-family: 'Righteous';
}
	#name:hover{

		color: #899BC1;
	}

#profession{
	font-size: 2em;
	color: white;
	font-family: 'Roboto';
}

.innerBoxM.right{

	display:  inline-flex;
	padding-left: 21em;
	justify-content:space-between;
}

.menuText{
	
	text-decoration: none;
	font-family: Ubuntu;
	color: white;
}
	.menuText:hover{
		
		color: #4b71c1;
	}

.menuText.actualPage{

	color:  #999999;
}

/**********************/
/** BOTONES SOCIALES **/
/**********************/

.innerBoxS.left{
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

/*Clase general*/
.fab {

	padding: 0.4em;
	border-radius: 50%;
	text-align: center;

 
}
	/*fa on hover*/
	.fab:hover {
	    opacity: 0.7;
	}


/*Clases especificas*/

.fa-vimeo-v {
  background: #3B5998;
  color: white;
}
.fa-vimeo-v:hover {
  background: white;
  color: #3B5998;
}

.fa-twitter {
  background: #3B5998;
  color: white;
}
.fa-twitter:hover {
  background: white;
  color: #3B5998;
}

.fa-linkedin-in {
  background: #3B5998;
  color: white;
}
.fa-linkedin-in:hover {
  background: white;
  color: #3B5998;
}

.fa-instagram {
  background: #3B5998;
  color: white;
}
.fa-instagram:hover {
  background: white;
  color: #3B5998;
}

/*links de fa*/
a.fab{
	font-size: 2em;
	opacity: 1;

	transition: all .3s ease-in-out;

	text-decoration: none;

}
	/*link on hover*/
	a.fab:hover{
		opacity: 1;
	}


	/************/
	/** CORREO **/
	/************/

.innerBoxS.center{
	display: flex;
	align-items: center;
}

/*Clase general*/
.far {

	padding: 0.45em;
	border-radius: 50%;

	
	text-align: center;
}
	/*fa on hover*/
	.far:hover {
	    opacity: 0.7;
	}

.fa-envelope {
  background: #3B5998;
  color: white;
}
.fa-envelope:hover {
  background: white;
  color: #3B5998;
}

.fa-envelope-open {
  background: #3B5998;
  color: white;
}
.fa-envelope-open:hover {
  background: white;
  color: #3B5998;
}


/*links de far*/
a.far{
	font-size: 2.5em;
	opacity: 1;

	transition: all .3s ease-in-out;

	text-decoration: none;
}
	/*link on hover*/
	a.far:hover{
		opacity: 1;
	}



/************/
/** FOOTER **/
/************/

footer{
	background-color: rgba(0,0,0,1);
	height: 10%;
	width: 100%;
	display: flex;

	padding-left: 15%;
	padding-right: 15%;

	z-index: 10;

}

.innerBoxS{
	height: 100%;
	width: 33.333%;

}

#footerCR{
	font-family: Ubuntu;
	color: white;

	user-select: none;
    pointer-events: none;
}

/*****************************/
/** ESPECIFICO DE LA PAGINA **/
/*****************************/

.meDivMain{
	background-color: #444444;
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meDivMain > a{
	text-decoration: none;
	font-family: Roboto;
	color: #4b71c1;
	font-size: 1em;
	padding-top: 1em;
}

#location{
	color:#DBDBDB;
}

#profilePicDiv{
	width: 10em;
	height: 10em;

	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 5px 2px #222222;
	margin-bottom: 1em;

	display: flex;
	justify-content: center;
	align-items: center;
}

#profilePic{

	width: 100%;
	height: 100%;
	border-radius: 50%;

}

.sectionContent{
	background-color: #222222;
	width: 100%;
	height: fit-content;

	padding-left: 24.8em;
	padding-right: 24.8em;

	display: flex;
	flex-direction: column;
}

.artContent{
	width: 100%;
	height: fit-content;

	margin-bottom: 1em;
	padding-bottom: 1em;
	padding-top: 2em;
	border-bottom: 0.1em solid #393939;
}

.equalDistribH{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 1em;
	padding-right: 4em;
	padding-left: 6em;
}

.Mright{
	padding-right: 2em;
	padding-left: 0.5em;
}

.skill{

	color: white;
	padding: 0.3em;
	margin-right: 2.5em;
	border: 0.15em double white;
}

/***********/
/** TEXTO **/
/***********/

h1{
	font-size: 2.5em;
	color:white;
	font-family: 'Righteous';

}

h2{
	font-size: 1.5em;
	color: #F2F2F2;
	font-family: 'Roboto';
}

h3{
	font-size: 1.2em;
	font-family: Ubuntu;
	color: #B0B0B0;
}


